* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
:root {
  --color1: #2F4858;
  --color2: #5C6477;
  --color3: #878293;
  --color4: #B0A2AE;
  --color5: #D6C5CA;
  --color6: #F9EBEA;
  --background: background-image: linear-gradient(to left bottom, #2f4858, #455668, #5b6477, #717385, #878293);
}
body {
  background-image: linear-gradient(to left bottom, #2f4858, #455668, #5b6477, #717385, #878293);
  height: 100vh;
  /* background-color: var(--color2); */
  color: var(--color6);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* /// HEADER /// */
.container .header nav {
  display: flex;
  justify-content: flex-end;
}
.container .header .nav-right {
  width: 250px;
  height: 60px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* /// MAIN /// */
.container .main {
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/* /// FOOTER /// */
.container .footer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.container .footer .left-footer {
  width: 400px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.container .footer .right-footer {
  width: 300px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}



.main .main-input .search-container img {
  width: 15px;
}