* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
:root {
  --color1: #2F4858;
  --color2: #5C6477;
  --color3: #878293;
  --color4: #B0A2AE;
  --color5: #D6C5CA;
  --color6: #F9EBEA;
  --background: background-image: linear-gradient(to left bottom, #2f4858, #455668, #5b6477, #717385, #878293);
}
body {
  background-image: linear-gradient(to left bottom, #2f4858, #455668, #5b6477, #717385, #878293);
  height: 100vh;
  /* background-color: var(--color2); */
  color: var(--color6);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
}
.container {
  width: 100%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(auto, auto);
  align-content: space-between;

}
.header {
  width: 100%;
  height: 60px;
  grid-column: 1 / 4;
}
.header nav {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-right {
  width: 250px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.main {
  height: auto;
  padding: 50px 0;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-bottom: 20px;
  grid-column: 1 / 4;
  justify-self: center;
}
.main-input {
  height: 100%;
  grid-column: 1 / 4;
  justify-self: center;
}
.search-container {
  width: 550px;
  background-color: var(--background);
  border: 1px solid var(--color5);
  border-radius: 100px;
  padding: 0 20px;
  display: flex;
  /* justify-content: space-evenly; */
}
.search-container:hover {
  background-color: var(--color1);
}
.search-container input {
  border: none;
  width: 450px;
  height: 40px;
  margin: 0 15px;
  font-size: 1.8rem;
  background-color: var(--background);
  color: var(--color6);
}
input:focus {
  color: var(--color6);
  outline: none;
}
.search-container img {
  width: 15px;
  justify-self: center;
}
.buttons-bellow {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.buttons-bellow button {
  width: 150px;
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.16);
  color: white;
}

.footer {

  height: 60px;
  grid-column: 1 / 4;
}
.footer-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.left-footer {
  height: 100%;
  list-style: none;

  width: 350px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.right-footer {
  height: 100%;
  list-style: none;
  width: 250px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

